<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">
    <img src="../assets/download.png" alt="logo" style="width:123px;">
  </a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#aboutus">About Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#features">Features</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#contactus">Contact Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" data-toggle="modal" data-target="#myModal"
        style="border: 1px solid #132ca6;color:#132ca6 !important;border-radius: 30px;padding: 5px 15px">Sign In</a>
    </li>&nbsp;
    <li class="nav-item">
      <a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal"
        style="border: 1px solid #132ca6;color:#132ca6 !important;border-radius: 30px;padding: 5px 15px">Log In</a>
    </li>

  </ul>
</nav>
<div class="row">
  <video autoplay muted loop id="myVideo" style="width: 100%;">
    <source src="../assets//laptop.mp4" type="video/mp4">
  </video>
</div><br>


<div data-aos="flip-left">
  <div class="row" id="features">
    <div class="container">
      <div class="col-md-12">
        <h3 style="text-align: center;font-weight: 600;">Features</h3>
        <p>After the release of Angular 8, a preview version of Ivy is now available for testing. Ivy is the new
          rendering
          engine that produces small bundle size and Bazel is the new build system. Both are ready for proper use with
          Angular 8. The preview of these two should be available shortly. Ivy is a new compiler/runtime of Angular and
          Angular 8 is a first release to offer a switch to opt-in into Ivy officially.</p>
      </div>
    </div>
  </div><br>
</div>


<!-- Grid Starts -->
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>Components</h3>
      <p>Every Angular app has a root module where you define the main component to load. In the default Angular app,
        the root module is defined inside the app.module.ts. When the AppModule loads, it checks which component is
        bootstrapped and loads that module. As seen in the app.module.ts, the module which is bootstrapped is
        AppComponent. The AppComponent component is defined in the file app.component.ts.

        A component is defined using the @Component decorator. Inside the @Component decorator, you can define the
        component selector, the component template, and the related style.</p>
    </div>
    <div class="col-md-4">
      <h3>Templates</h3>
      <p>Templates in AngularJS are simply an HTML file filled or enriched with AngularJS stuff like attributes and
        directives. A directive is a marker element that is used to target a particular attribute or class to render its
        behavior as according to the needs. Model and controller in Angular are combined with the templates to
        manipulate the view the user sees in his/her browser. Angular templates can also accommodate CSS, Form controls,
        Filters, and Expressions.</p>
    </div>
    <div class="col-md-4">
      <h3>Data Binding</h3>
      <p>Data binding is the core concept of Angular 8 and used to define the communication between a component and the
        DOM. It is a technique to link your data to your view layer. In simple words, you can say that data binding is a
        communication between your typescript code of your component and your template which user sees.</p>
    </div>

  </div>

</div><br>

<!-- Grid Ends -->

<!-- About us starts -->
<div class="row" id="aboutus">
  <div class="container">
    <h3 style="text-align: center;font-weight: 600;">About Us</h3><br>
    <div class="row">
      <div class="col-md-6">
        <img src="../assets/download1.png" alt="Angular" width="500" height="500">
      </div>
      <div class="col-md-6">
        <h3>Our Mission</h3>
        <p>The Angular team has created a tool called CLI that is the command line interface for Angular, a very
          powerful tool that goes way beyond the simple bundler or generator. Angular CLI makes it easy to create a new
          working application that follows some of Angular best practices, right out of the box.

          CLI has commands to generate components, services, routes, classes and pipes, and it will also create test
          files for all of these.Â It also provides ways to easily serve, test, lint and format your application locally
          while developing.

          Finally, it has Webpack included and already pre-configured, so you can enjoy the benefits of Webpack without
          the struggle of diving into the configuration. </p>
        <p>A web project should have a bundler, regardless of the technology stack being used. A bundler is in charge of
          wrapping your application code together with its resources into a minimized, zipped bundle so it can be easily
          deployed on a server</p>
      </div>
    </div>
  </div>
</div><br><br>
<!-- About us ends -->

<!-- contact us starts -->
<div class="row" id="contactus">
  <div class="container">
    <h3 style="text-align: center;font-weight: 600;">Contact Us</h3><br>
    <div class="row">
      <div class="col-md-6">
        <iframe width="100%" height="400"
          src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=4th%20Floor%2C%20Unit%201%2C%20MJR%20Magnifique%20Khajaguda%20X%20Road%20Rangareddy%20District%2C%20Telangana%20Hyderabad%20500008%20India+(Prutech)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed"
          frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>

      </div>
      <div class="col-md-6">
        <div class="row" style="text-align:center">
          <div class="col-md-4" style="margin: 30px 0px;font-size: 30px;border-right: 1px solid #4285f4">
            <i class="fa fa-phone " aria-hidden="true"></i>
          </div>
          <div class="col-md-8" style="margin: 20px 0px;">
            <h6>Phone Number</h6>
            <p>95445458969</p>
          </div>
        </div>
        <div class="row" style="text-align:center">
          <div class="col-md-4" style="margin: 30px 0px;font-size: 30px;border-right: 1px solid #4285f4">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </div>
          <div class="col-md-8" style="margin: 20px 0px;">
            <h6>Email Id</h6>
            <p>prutech@gmail.com</p>
          </div>
        </div>
        <div class="row" style="text-align:center">
          <div class="col-md-4" style="margin: 30px 0px;font-size: 30px;border-right: 1px solid #4285f4">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
          </div>
          <div class="col-md-8" style="margin: 20px 0px;">
            <h6>Address</h6>
            <p style="width: 50%;margin: 0 auto;">
              4th Floor, Unit 1, MJR Magnifique Khajaguda X Road,Gachibowli, Rangareddy
              District, Telangana<br />
              Hyderabad 500008 <br />
          </div>
        </div>

      </div>
    </div>



  </div>
</div><br>
<!-- contact us ends -->

<!-- Footer -->
<div class="footer">

  <h4 style="color: #fff;">Follow Us</h4>
  <ul class="social-network social-circle">
    <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
    <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
    <li><a href="#" class="icoTwitteer" title="Twitter"> <i class="fa fa-twitter-square" aria-hidden="true"></i></a>
    </li>
    <li><a href="#" class="whatsapp" title="Twitter"> <i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>

  </ul>
</div>
<!-- Footer -->


<!-- Sign in modal popup starts -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Login</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <!-- <div class="continer-fluid">
          <div class="row"  style="width: 100%; margin: 0;padding: 0;">
            <div class="col-md-4" *ngFor="let item of privileges">
              <div class="card" style="border: 1px solid #132ca6;color:#132ca6 !important;border-radius: 30px;padding: 5px 15px">
<span>{{item.name}}</span>
              </div><br>
              
            </div>
          </div>
        </div> -->
        <div class="container-fluid">
          <div class="row" style="width: 100%;margin: 0;padding: 0;">
            <div class="col-md-4 " *ngFor="let item of privileges" >
              <div (click)="selectItem(item.id)" id={{item.id}}>
              <div class="card" style="border: 1px solid #132ca6;color:#132ca6 !important;border-radius: 30px;padding: 5px 15px">
                <span>{{item.name}}</span>
              </div>
              <br>
            </div>
            </div>
          </div>
              </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<!-- Sign in modal popup ends -->


<!-- Login Modal Starts -->
<!-- The Modal -->
<div class="modal" id="loginModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Login Form</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form [formGroup]="loginForm">
          <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" placeholder="Enter email" id="email" formControlName="email">
            <div *ngIf="loginForm.controls['email'].hasError('required') 
            && loginForm.controls['email'].touched" style="color: red;">
            Email Required
          </div>
          <div *ngIf="loginForm.controls['email'].hasError('pattern')"
         style="color: red;">
         Invalid Email
        </div>
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" placeholder="Enter password" id="pwd" formControlName="password">
            <div *ngIf="loginForm.controls['password'].hasError('required') 
            && loginForm.controls['password'].touched" style="color: red;">
            Password Required
          </div>
          </div>
          <div class="form-group form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox"> Remember me
            </label>
          </div>
          <button type="submit" class="btn btn-primary"[disabled]="!loginForm.invalid">Sign In</button>
        </form>
        </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<!-- Login Modal Ends -->